<template name="game">
	<div id="trivia" class="noselect">
	<!-- {{#each animal}}
	{{/each}} -->
		<div class="col s12 m6">
			<h2>Adivina el Animal</h2>
			<div id="animal_img"><img src="http://a1.dspncdn.com/media/692x/80/e8/78/80e878da2963e18ebc58c1a19c1d0c1e.jpg"/></div>
		</div>
		<div class="col s12 m6">
			<ul id="word">
			{{#each countName}}
				<li>&nbsp;</li>
			{{/each}}
			</ul>
			<ul id="keyboard">
				{{#each countName}}
					<li data-num={{@index}} class="input{{@index}}">{{this}}</li>
				{{/each}}
			</ul>
			<div class="navigation">			
				<div class="reset">Limpiar</div>
				<div class="next">Omitir</div>		
				<div class="clearfix"></div>	
			</div>
		</div>
	</div>
</template>
