<template name="game">
	<div id="trivia" class="noselect">
		<div class="col s12 m6">
			<h2>Adivina el Animal</h2>
			<div id="animal_img"><img src="animals/{{imagen}}"/></div>
		</div>
		{{#unless detalle}}
		<div class="col s12 m6">
			<ul id="word">
			{{#each countName}}
				<li>&nbsp;</li>
			{{/each}}
			</ul>
			<ul id="keyboard">
				{{#each countName}}
					<li data-num={{@index}} class="input{{@index}}">{{this}}</li>
				{{/each}}
			</ul>
			<div class="navigation">			
				<div class="reset">Limpiar</div>
				<div class="next">Siguiente</div>		
				<div class="clearfix"></div>	
			</div>			
		</div>
		{{/unless}}
		{{#if detalle}}
			{{#with animal}}
				<div class="col s12 m6">
					{{nombre}}
					{{nombreCientefico}}
					<button id="seguir" class="btn">Seguir!</button>
				</div>
				<a onclick="window.open('http://www.facebook.com/sharer/sharer.php?u=http://triviamazon.herokuapp.com', 'facebook_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');" href="#"><img alt="facebook" src="../img/fb.png"/></a>
			{{/with}}
		{{/if}}
	</div>
</template>
