<template name="map">
	<div class="modal-close">X</div>
	<div id="viewTwo">
	<section id="cd-google-map">
		<div id="google-container"></div>
	</section>
	<section id="filter_the_map" class="closed">
		<div class="filterHeader">
			<div class="openMobileFilter">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<h2>FILTROS</h2>
		</div>
		<label class="parent" for="estado">
			<input id="estado" type="checkbox" class="all estadoParent" data-filtertype="estado" value="all"/> ESTADO
		</label>
		<label class="child" for="extinta">
			<input id="extinta" type="checkbox" class="extinta estado" data-parent="estadoParent" value="extinta"/>Extinta
		</label>
		<label class="child" for="extinta-silvestre">
			<input id="extinta-silvestre" type="checkbox" class="extinta-silvestre estado" data-parent="estadoParent" value="extinta-silvestre"/>Extinta en estado silvestre
		</label>
		<label class="child" for="peligro-critico">
			<input id="peligro-critico" type="checkbox" class="peligro-critico estado" data-parent="estadoParent" value="peligro-critico"/>En peligro crítico de extinción
		</label>
		<label class="child" for="peligro-extincion">
			<input id="peligro-extincion" type="checkbox" class="peligro-extincion estado" data-parent="estadoParent" value="peligro-extincion"/>En peligro de extinción
		</label>
		<label class="child" for="vulnerable">
			<input id="vulnerable" type="checkbox" class="vulnerable estado" data-parent="estadoParent" value="vulnerable"/>Vulnerable
		</label>
		<label class="child" for="casi-amenazada">
			<input id="casi-amenazada" type="checkbox" class="casi-amenazada estado" data-parent="estadoParent" value="casi-amenazada"/>Casi amenazada
		</label>
		<label class="child" for="preocupacion-menor">
			<input id="preocupacion-menor" type="checkbox" class="preocupacion-menor estado" data-parent="estadoParent" value="preocupacion-menor"/>Preocupación menor
		</label>	
		<label class="child" for="sin-peligro-actual">
			<input id="sin-peligro-actual" type="checkbox" class="sin-peligro-actual estado" data-parent="estadoParent" value="sin-peligro-actual"/>Sin peligro actual
		</label>		
		<label class="parent" for="clase">
			<input id="clase" type="checkbox" class="all claseParent" data-filtertype="clase" value="all"/> CLASE
		</label>
		<label class="child" for="mammalia">
			<input id="mammalia" type="checkbox" class="mammalia clase" data-parent="claseParent" value="mammalia"/>Mammalia
		</label>
		<label class="child" for="reptilia">
			<input id="reptilia" type="checkbox" class="reptilia clase" data-parent="claseParent" value="reptilia"/>Reptilia
		</label>
		<label class="child" for="aves">
			<input id="aves" type="checkbox" class="aves clase" data-parent="claseParent" value="aves"/>Aves
		</label>
		<label class="child" for="amphibia">
			<input id="amphibia" type="checkbox" class="amphibia clase" data-parent="claseParent" value="amphibia"/>Amphibia
		</label>
		<label class="child" for="insecta">
			<input id="insecta" type="checkbox" class="insecta clase" data-parent="claseParent" value="insecta"/>Insecta
		</label>
	</section>
	<div id="noMatch" style="display: none;">
		<div class="box">
			<div class="close">X</div>
			<span></span>
		</div>
	</div>
</div>
</template>