#login-buttons{
    background-color: #2e7d32;
    padding: 10px 20px;
    border-radius: 5px
}

#login-buttons a.login-link-text{
	text-decoration: initial;
	color: white;
}

#principal{
	background: url('bg2.jpg');
	padding-bottom: 30px;
}