<template name="login">
	<div class="container">
		<div class="row z-depth-3" id="principal">
			<div class="col s12 header">
				<div class="right">
					{{> loginButtons}}
				</div>
				<div class="left">
					<a  href="#modalVerLogros" id="verLogros" class="waves-effect waves-light btn modal-trigger">Ver mis logros</a>
				</div>
			</div>
		 	{{#unless currentUser}}
				<div class=" col s12 center">
					landing page
				</div>
			{{/unless}}
			{{#if currentUser}}
				<div class=" col s12 center">
					{{> game}}
				</div>
			{{/if}}
		</div>
	</div>
	{{> modalVerLogros}}
</template>