#login-buttons{
    background-color: #2e7d32;
    padding: 10px 20px;
    border-radius: 0px
}

#login-buttons a.login-link-text{
	text-decoration: initial;
	color: white;
}

#principal{
	background: url('bg2.jpg');
	padding-bottom: 30px;
}
#login-buttons .login-close-text {
	text-decoration: none;
	text-align: center;
	width: 100%;
}
#principal .header {
	background: white;
}
#verLogros {
	background-color: #2e7d32;
	padding: 10px 20px;
	border-radius: 0px;
	padding-top: 0px;
	box-shadow: none;
}