<template name="login">
	<div class="container">
		<div class="row z-depth-3" id="principal">
			<div class="col s12">
				<div class="right">
					{{> loginButtons}}
				</div>
				<div class="left">
					<button id="verLogros">Ver mis logros</button>
				</div>
			</div>
		 	{{#unless currentUser}}
				<div class=" col s12 center">
					landing page
				</div>
			{{/unless}}
			{{#if currentUser}}
				<div class=" col s12 center">
					{{> game}}
				</div>
			{{/if}}
		</div>
	</div>
</template>